@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register our custom font family and tell the browser where to find it. */
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  background: var(--tg-theme-secondary-bg-color, white);
  color: var(--tg-theme-text-color, black);
}

html {
  @apply font-sf font-medium antialiased text-text-primary bg-bg-secondary
}

blockquote p {
  @apply p-4 bg-[#eee] rounded-md
}

pre {
  overflow: auto;
}