@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register our custom font family and tell the browser where to find it. */
@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF Pro Rounded Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
}

@layer base {
  :root {
    --telegram-bg-color: var(--tg-theme-bg-color, #ffffff);
    --telegram-text-color: var(--tg-theme-text-color, #000000);
    --telegram-hint-color: var(--tg-theme-hint-color, #707579);
    --telegram-link-color: var(--tg-theme-link-color, #3390ec);
    --telegram-button-color: var(--tg-theme-button-color, #3390ec);
    --telegram-button-text-color: var(--tg-theme-button-text-color, #ffffff);
    --telegram-secondary-bg-color: var(--tg-theme-secondary-bg-color, #f4f4f5);
  }

  body {
    background: var(--telegram-bg-color);
    color: var(--telegram-text-color);
  }

  html {
    @apply font-sf font-medium antialiased bg-tg-bg
  }
  
  blockquote p {
    @apply p-4 bg-[#eee] rounded-md
  }
  
  pre {
    overflow: auto;
  }
}

@layer components {
  .btn-tg-primary {
    @apply bg-tg-btn hover:bg-tg-btn text-tg-btn-text;
  }

  .btn-tg-secondary {
    @apply bg-tg-secondary-bg hover:bg-tg-secondary-bg text-tg-hint;
  }
}